Repository OpenTabletDriver/OpenTabletDriver.Web, pull requests merged in 2022-06, with the labels that each got.

#78 Add Input Monitoring and Accessibility
  OpenTabletDriver.Web/Views/Wiki/FAQ/MacOS.cshtml
Labels: documentation, enhancement, wiki

#77 Add post-installation instructions
  OpenTabletDriver.Web/Views/Wiki/Install/Linux.cshtml
Labels: documentation, enhancement, wiki

#76 Remodel EACCESS section to be persistant.
  OpenTabletDriver.Web/Views/Wiki/FAQ/Linux.cshtml
Labels: documentation, enhancement, wiki

#84 Add / to the start of /Wiki so that it redirects correctly.
  OpenTabletDriver.Web/Views/Shared/_PlatformCards.cshtml
  OpenTabletDriver.Web/Views/Wiki/Index.cshtml
Labels: bug

#83 FAQs: Fix <hr/>s
  OpenTabletDriver.Web/Views/Wiki/FAQ/Linux.cshtml
  OpenTabletDriver.Web/Views/Wiki/FAQ/Windows.cshtml
Labels: enhancement, wiki

#88 Add support for markdown in the wiki
  OpenTabletDriver.Web.Core/Reflection/ReflectionMarkdownSource.cs
  OpenTabletDriver.Web.Core/Services/IMarkdownSource.cs
  OpenTabletDriver.Web/Controllers/TabletsController.cs
  OpenTabletDriver.Web/Controllers/WikiController.cs
  OpenTabletDriver.Web/Models/MarkdownViewModel.cs
  OpenTabletDriver.Web/OpenTabletDriver.Web.csproj
  OpenTabletDriver.Web/Startup.cs
  OpenTabletDriver.Web/TagHelpers/CodeBlockTagHelper.cs
  OpenTabletDriver.Web/Utilities/Markdown.cs
  OpenTabletDriver.Web/Utilities/UniqueIdentifierGenerator.cs
  OpenTabletDriver.Web/Views/Shared/_Scripts.cshtml
  OpenTabletDriver.Web/Views/Shared/_Styles.cshtml
  OpenTabletDriver.Web/Views/Wiki/FAQ/Linux.cshtml
  OpenTabletDriver.Web/Views/Wiki/Install/Linux.cshtml
  OpenTabletDriver.Web/Views/Wiki/WikiMarkdownPage.cshtml
  OpenTabletDriver.Web/Views/Wiki/_WikiLayout.cshtml
  OpenTabletDriver.Web/wwwroot/css/hljs.css
Labels: enhancement, wiki

#91 Convert Configurations documentation to markdown
  OpenTabletDriver.Web/Models/MarkdownViewModel.cs
  OpenTabletDriver.Web/Views/Wiki/Development/Configurations.cshtml
  OpenTabletDriver.Web/Views/Wiki/Development/Configurations.md
  OpenTabletDriver.Web/Views/Wiki/WikiMarkdownPage.cshtml
Labels: documentation, enhancement

#90 Add WinUSB installation instructions to the install guide.
  OpenTabletDriver.Web/Views/Wiki/Install/Windows.cshtml
Labels: documentation, wiki

#86 Carry over .editorconfig from OTD
  .editorconfig
  OpenTabletDriver.Web.Core/Contracts/IRelease.cs
  OpenTabletDriver.Web.Core/Contracts/IReleaseAsset.cs
  OpenTabletDriver.Web.Core/DependencyInjectionExtensions.cs
  OpenTabletDriver.Web.Core/Framework/DotnetCoreService.cs
  OpenTabletDriver.Web.Core/FrameworkArchitecture.cs
  OpenTabletDriver.Web.Core/FrameworkPlatform.cs
  OpenTabletDriver.Web.Core/GitHub/GitHubRelease.cs
  OpenTabletDriver.Web.Core/GitHub/GitHubReleaseAsset.cs
  OpenTabletDriver.Web.Core/GitHub/Services/GitHubReleaseService.cs
  OpenTabletDriver.Web.Core/GitHub/Services/GitHubRepositoryService.cs
  OpenTabletDriver.Web.Core/GitHub/Services/GitHubTabletService.cs
  OpenTabletDriver.Web.Core/Plugins/GitHubPluginMetadataService.cs
  OpenTabletDriver.Web.Core/Plugins/PluginMetadata.cs
  OpenTabletDriver.Web.Core/Reflection/ReflectionMarkdownSource.cs
  OpenTabletDriver.Web.Core/Services/IFrameworkService.cs
  OpenTabletDriver.Web.Core/Services/IMarkdownSource.cs
  OpenTabletDriver.Web.Core/Services/IPluginMetadataService.cs
  OpenTabletDriver.Web.Core/Services/IReleaseService.cs
  OpenTabletDriver.Web.Core/Services/IRepositoryService.cs
  OpenTabletDriver.Web.Core/Services/ITabletService.cs
  OpenTabletDriver.Web/Controllers/ChangelogController.cs
  OpenTabletDriver.Web/Controllers/DiscordController.cs
  OpenTabletDriver.Web/Controllers/FrameworkController.cs
  OpenTabletDriver.Web/Controllers/GitHubController.cs
  OpenTabletDriver.Web/Controllers/HomeController.cs
  OpenTabletDriver.Web/Controllers/PluginsController.cs
  OpenTabletDriver.Web/Controllers/TabletsController.cs
  OpenTabletDriver.Web/Controllers/WikiController.cs
  OpenTabletDriver.Web/Models/ContentSearchViewModel.cs
  OpenTabletDriver.Web/Models/EnumerableSearchViewModel.cs
  OpenTabletDriver.Web/Models/HomeViewModel.cs
  OpenTabletDriver.Web/Models/MarkdownViewModel.cs
  OpenTabletDriver.Web/Startup.cs
  OpenTabletDriver.Web/TagHelpers/CodeBlockTagHelper.cs
  OpenTabletDriver.Web/Utilities/Extensions.cs
  OpenTabletDriver.Web/Utilities/Markdown.cs
  OpenTabletDriver.Web/Utilities/UniqueIdentifierGenerator.cs
Labels: enhancement

#82 Windows FAQ: Reword raw input to something more factually correct
  OpenTabletDriver.Web/Views/Wiki/FAQ/General.cshtml
  OpenTabletDriver.Web/Views/Wiki/FAQ/Windows.cshtml
Labels: enhancement, wiki

#81 Move raw input advice from General to Windows
  OpenTabletDriver.Web/Views/Wiki/FAQ/General.cshtml
  OpenTabletDriver.Web/Views/Wiki/FAQ/Windows.cshtml
Labels: enhancement, wiki

#94 Move release download logic to separate controller
  OpenTabletDriver.Web/Controllers/ReleaseController.cs
  OpenTabletDriver.Web/Views/Wiki/Install/Linux.cshtml
  OpenTabletDriver.Web/Views/Wiki/Install/MacOS.cshtml
  OpenTabletDriver.Web/Views/Wiki/Install/Windows.cshtml
Labels: enhancement, wiki
